<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Unit</title>
</head>

<body>
<header>
    <div class="container">

        <div class="left-side">
            <img id="logo" src="../image/logo/unit-logo.png" alt="unit-logo">
            <input type="text" placeholder="검색어를 입력해주세요">
            <img id="search" src="../image/icon/검색아이콘.png" alt="검색버튼">
        </div>
        <div class="right-side">
            <input type="button" value="로그인/회원가입">
            <nav>
                <a href="#">고객지원센터</a>
                <a href="#">재능키움(졸업생)</a>
                <a href="#">재능판매(대학생)</a>
            </nav>
        </div>
    </div>
</header>