/* new-start */
body {
  margin: 0;
  padding: 0;
}
.container {
  width: 1200px;
  margin: auto;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .container {
  height: 70px;
}

.left-side {
  position: relative;
  width: 40%;
}
#logo {
  display: block;
  float: left;
  margin: 5px 50px 0 0;
  border: none;
}


.left-side input {
  display: block;
  width: 280px;
  height: 40px;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  padding: 0 0 0 9px;
}

#search {
  width: 20px;
  height: 20px;
  padding: 10px;
  position: absolute;
  right: 54px;
  top: 1px;
}

.right-side {
  width: 60%;
}

.right-side input {
  display: block;
  float: right;
  margin-left: 20px;
  width: 120px;
  height: 40px;
  background-color: #227aff;
  border-radius: 5px;
  padding: 9px 12px 11px;
  color: #ffffff;
  border: none;
}

.right-side nav a{
  float: right;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  color: #3c3c3c;
  line-height: 1.2;
  letter-spacing: normal;
  margin: 0px 20px;
  padding: 10px 5px;
  text-decoration: none;
}

.container-wrap {
  width: 1200px;
  margin: auto;
  margin-bottom: 20px;
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.banner {
  width: 1200px;
  height: 480px;
  margin: auto;
  border-radius: 20px;
  background-color: #227aff;
}

.home-circle {
  padding: 0 5px 8px 0;
}

article h1 {
  float: left;
  margin-top: 55px;
  font-size: 18px;
  font-weight: bold;
}

.home-content {
  width: 280px;
  height: 302px;
  margin-bottom: 37px;
}

.home-content img {
  width: 280px;
  height: 240px;
  border-radius: 5px;
  margin: 0 0 13px;
}

.home-content-title {
  width: 280px;
  height: 24px;
  overflow: hidden;
  margin: 0 0 7px;
}

.home-content-star {
  float: left;
}

.home-content-review {
  margin-left: 5px;
  float: left;
}

.home-content-price {
  float: right;
  font-weight: bold;
}

.middle-banner {
  width: 1200px;
  height: 170px;
  background-color: #8EFB7C;
  margin: 20px 0;
}

footer {
  background-color: #363b42;
  height: 240px;
}

footer .container:nth-child(1) {
  color: #ffffff;
  justify-content: left;
  background-color: #363b42;
}

footer .container:nth-child(1) div {
  font-weight: bold;
  font-size: 15px;
  margin: 36px 0 53px 0;
}

footer .container:nth-child(1) div:nth-child(2) {
  margin: 36px 30px 53px 30px;
}

footer .container:nth-child(2) {
  color: #ffffff;
  justify-content: space-between;
  align-items: flex-end;
  background-color: #363b42;
}

footer .container:nth-child(2) div {
  color: #ffffff;
  font-size: 11px;
}
/* new-end */