<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
    <title>Unit</title>
</head>

<body>
{{>layout/header}}
<main>
    <div class="home-content-container">
        <article>
            <div class="banner"></div>
        </article>

        <article>
            <h1><img class="home-circle" src="/image/home-circle/타원 1.png" alt="">최근 재능 판매 게시글</h1>
            <article>
                <div class="home-content-container">
                    {{#product-sell-preview}}
                        <a href="/product/detail/{{productId}}" class="home-content">
                            <div class="img-wrapper"><img src="{{image}}" alt="컨텐츠 이미지"></div>
                            <div class="home-content-title">{{title}}</div>
                            <div class="home-content-star">⭐️ {{averageStarScore}} |</div>
                            <div class="home-content-review">{{reviewCount}}개의 평가</div>
                            <div class="home-content-price">{{price}}원</div>
                        </a>
                    {{/product-sell-preview}}
                </div>
            </article>
        </article>

        <article>
            <div class="home-middle-banner"></div>
        </article>

        <article>
            <h1><img class="home-circle" src="/image/home-circle/타원 1.png" alt="">최근 재능 멘토 게시글</h1>
            <article>
                <div class="home-content-container">
                    {{#product-grow-preview}}
                        <a href="/product/detail/{{productId}}" class="home-content">
                            <div class="img-wrapper"><img src="{{image}}" alt="컨텐츠 이미지"></div>
                            <div class="home-content-title">{{title}}</div>
                            <div class="home-content-star">⭐️ {{averageStarScore}} |</div>
                            <div class="home-content-review">{{reviewCount}}개의 평가</div>
                            <div class="home-content-price">{{price}}원</div>
                        </a>
                    {{/product-grow-preview}}
                </div>
            </article>
        </article>
    </div>
</main>
{{>layout/footer}}